<div [ngStyle]="{'background': food.order_status === 'canceled' ? '#FF432B' : '#FFBC2B'}" class="container">
    <div>
        <p>#{{food.order_id}}
        </p>
        <div class="img"></div>
    </div>
    <div>
        @for(item of food.order_foods; track $index){
        <p style="font-size: small;">
            {{item.food.name}}
        </p>
        }
    </div>
    <div style="display:flex; justify-content: center; flex-direction: column;  align-items: end;">
        <p>Mesa {{food.table}}</p>
        <div class="price">
            <p>{{food.total_price}}</p>
        </div>
    </div>
</div>